
   <div class="tablero">

  <!-- ENCABEZADO -->
  <div class="encabezado">
    <div class="perfil">
      <!-- <img src="/assets/img/sinfoto.png" alt="Foto del Usuario" class="avatar" /> -->
      <img [src]="fotoDocenteUrl" alt="Foto del Usuario" class="avatar" />
      <div>
        <h2 class="titulo">Bienvenido</h2>
        <p class="subtitulo">{{ docente.nombre }} {{ docente.apellido }}</p>
      </div>
    </div>

    <div class="acciones">
      <button type="button" class="boton" (click)="mostrarFormulario('crearCurso')">Crear Curso</button> 
      <button type="button" class="boton" (click)="mostrarFormulario('modificarCurso')">Modificar Curso</button> 
      <button type="button" class="boton" (click)="mostrarFormulario('listarUsuarios')">Listar Usuarios</button> 
      <button type="button" class="boton" (click)="mostrarFormulario('listarPagos')">Listar Pagos</button> 
      <!-- <button type="button" class="boton" (click)="graficoPagos()">Grafico Pagos</button>  -->
    </div>
  </div>

  <!-- RESUMEN -->
  <div class="resumen">
    <h3 class="subtitulo">RESUMEN GENERAL</h3>
    <ul class="lista">
      <li>Cursos asignados: <span class="negrita">{{ cursosAsignados.length }}</span></li>
      <li>Alumnos inscritos: <span class="negrita">{{ totalAlumnos }}</span></li>
      <li>Próxima clase: <span class="negrita">{{ proximaClase }}</span></li>
    </ul>
  </div>

  <!-- MIS CURSOS -->
  <div class="mis-cursos" *ngIf="cursosAsignados.length > 0">
    <h3 class="subtitulo">MIS CURSOS</h3>
    <div class="cursos">
      <div class="curso" *ngFor="let curso of cursosAsignados">
        <h4 class="curso-titulo">Curso: {{ curso.nombre_curso }}</h4>
        <p>Modalidad: {{ curso.tipo }}</p>
        <p>Alumnos: {{ curso.alumnos || 0 }}</p>
        <button   [routerLink]="['/curso/contenido',curso.id_curso]" class="boton">Ver detalles</button>
      </div>
    </div>
  </div>
    <!-- MIS CURSOS -->
  <div class="mis-cursos" *ngIf="cursosAsignados.length === 0">
    <h3 class="subtitulo">MIS CURSOS</h3>
    <div class="cursos">
      No tienes cursos asignados
    </div>
  </div>


  <div class="mensajes">
    <h3 class="subtitulo">MENSAJES RECIENTES</h3>
     <app-chat></app-chat>
    <!-- <ul class="lista-mensajes"> -->
      <!-- <li class="mensaje" *ngFor="let mensaje of mensajes">{{ mensaje }}</li> -->
    <!-- </ul> -->
  </div>

</div>

<!-- seccion modificar curso -->

<div *ngIf="formularioActivo === 'modificarCurso'" class="buscarContainer" >
  <h3>Ingresar Nombre de Curso para Modificar</h3>
  <input
    type="text"
    [(ngModel)]="nombreCursoBuscar"
    placeholder="Ingrese el nombre del curso"
    name="buscarCurso"
  />
  <button (click)="buscarCursoPorNombre()">Buscar</button>
</div>


<form *ngIf="formularioActivo === 'modificarCurso'" [formGroup]="cursoForm" (ngSubmit)="modificarCurso()">
  <h3>Modificar Curso</h3>
  <div class="fotoImage">
      <img *ngIf="fotoUrl" [src]="fotoUrl" alt="Foto de Curso" style="max-width: 150px; border-radius: 50%;" >
  </div>

  <label for="foto">Foto:</label>
    <input id="foto" type="file"  (change)="onFileChange($event)" accept="image/*" name="foto">

  <label for="nombre_curso">Nombre del Curso:</label>
  <input id="nombre_curso" formControlName="nombre_curso" required>
  <div *ngIf="cursoForm.get('nombre_curso')?.invalid && (cursoForm.get('nombre_curso')?.touched || cursoForm.get('nombre_curso')?.dirty)">
    <small class="error">El nombre del curso es obligatorio.</small>
  </div>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" formControlName="descripcion"></textarea>

  <label for="duracion">Duración:</label>
  <input id="duracion" type="number" formControlName="duracion" placeholder="cantidad de meses">
  <div *ngIf="cursoForm.get('duracion')?.invalid && (cursoForm.get('duracion')?.touched || cursoForm.get('duracion')?.dirty)">
    <small class="error">La duración debe ser un número válido.</small>
  </div>

  <label for="tipo">Tipo:</label>
  <select id="tipo" formControlName="tipo" required>
    <option value="">Seleccione un tipo</option>
    <option value="presencial">Presencial</option>
    <option value="a distancia">A distancia</option>
  </select>
  <div *ngIf="cursoForm.get('tipo')?.invalid && (cursoForm.get('tipo')?.touched || cursoForm.get('tipo')?.dirty)">
    <small class="error">El tipo es obligatorio.</small>
  </div>

  <label for="costo">Costo:</label>
  <input id="costo" type="number" formControlName="costo">

  <label for="fecha_inicio">Fecha de Inicio:</label>
  <input id="fecha_inicio" type="date" formControlName="fecha_inicio">

  <label for="fecha_fin">Fecha de Fin:</label>
  <input id="fecha_fin" type="date" formControlName="fecha_fin">
  
  <br>
  <button type="submit" [disabled]="cursoForm.invalid" class="boton">Guardar Cambios</button>
</form>

<!-- Fin seccion modificar curso -->

<!-- Seccion Crear curso -->

  <form *ngIf="formularioActivo === 'crearCurso'" [formGroup]="cursoForm" (ngSubmit)="crearCurso()">
  
  <h3>Formulario para Crear Curso </h3>
 
  <label for="nombre_curso">Nombre del Curso:</label>
  <input id="nombre_curso" formControlName="nombre_curso" required>
  <button type="button" (click)="buscarCurso()" class="boton">Buscar nombre disponible</button>
    
  <div *ngIf="cursoForm.get('nombre_curso')?.invalid && (cursoForm.get('nombre_curso')?.touched || cursoForm.get('nombre_curso')?.dirty)">
    <small class="error">El nombre del curso es obligatorio.</small>
  </div>

 <div class="fotoImage">
      <img *ngIf="fotoPreviewUrl" [src]="fotoPreviewUrl" alt="Foto de Curso" style="max-width: 150px; border-radius: 50%;" >
  </div>
  
  <label for="foto">Foto:</label>
  <input id="foto" type="file" (change)="onFileChange($event)" accept="image/*" name="foto">
  
  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" formControlName="descripcion"></textarea>

  <label for="duracion">Duración:</label>
  <input id="duracion" type="number" formControlName="duracion" placeholder="cantidad de meses">
  <div *ngIf="cursoForm.get('duracion')?.invalid && (cursoForm.get('duracion')?.touched || cursoForm.get('duracion')?.dirty)">
    <small class="error">La duración debe ser un número válido.</small>
  </div>

  <label for="tipo">Tipo:</label>
  <select id="tipo" formControlName="tipo" required>
    <option value="">Seleccione un tipo</option>
    <option value="presencial">Presencial</option>
    <option value="a distancia">A distancia</option>
  </select>
  <div *ngIf="cursoForm.get('tipo')?.invalid && (cursoForm.get('tipo')?.touched || cursoForm.get('tipo')?.dirty)">
    <small class="error">El tipo es obligatorio.</small>
  </div>

  <label for="costo">Costo:</label>
  <input id="costo" type="number" formControlName="costo">

  <label for="fecha_inicio">Fecha de Inicio:</label>
  <input id="fecha_inicio" type="date" formControlName="fecha_inicio">

  <label for="fecha_fin">Fecha de Fin:</label>
  <input id="fecha_fin" type="date" formControlName="fecha_fin">


  <br>
  <button type="submit" [disabled]="cursoForm.invalid" class="boton" >Crear Curso</button>
</form>

<!-- ***************************Inicio listar usuarios -->
<div *ngIf="formularioActivo === 'listarUsuarios'" class="busqueda-usuarios">
  <h3>Buscar Usuarios</h3>
  <div class="filtros">

    <div class="campo-dato">
      <label for="nombre">Nombre</label>
      <input id="nombre" [(ngModel)]="filtros.nombre" placeholder="Nombre" class="input-grande"/>
    </div>

    <div class="campo-dato">
      <label for="apellido">Apellido</label>
      <input id="apellido" [(ngModel)]="filtros.apellido" placeholder="Apellido" class="input-grande"/>
    </div>

    <div class="campo">
      <label for="dni">DNI</label>
      <input id="dni" type="number" [(ngModel)]="filtros.dni" placeholder="DNI" />
    </div>

    <div class="boton-container">
      <button (click)="buscar()" class="boton">Buscar</button>
    </div>
  </div>

  <div class="tabla-container" *ngIf="usuarios.length > 0">
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha Nacimiento</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>DNI</th>
          <th>Especialidad</th>
          <th>Tipo Usuario</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios">
          <td>{{ user.id_usuario }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.apellido }}</td>
          <td>{{ user.fecha_nacimiento | date }}</td>
          <td>{{ user.direccion }}</td>
          <td>{{ user.telefono }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.dni }}</td>
          <td>{{ user.especialidad || '-' }}</td>
          <td>{{ user.tipo_usuario }}</td>
          <td>
            <img
              *ngIf="user.foto"
              [src]="'http://localhost:3000' + user.foto"
              alt="foto de usuario"
              width="50"
            />
            <span *ngIf="!user.foto">-</span>
          </td>  
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- ***************************Fin seccion listar usuarios -->
<!-- ***************************Inicio seccion listar Pagos -->
<div *ngIf="formularioActivo === 'listarPagos'" class="busqueda-usuarios">
  <h3>Buscar Pagos</h3>
  <div class="filtros">
    <div class="campo-dato">
      <label for="id_usuario">ID Usuario</label>
      <input id="id_usuario" type="number" [(ngModel)]="filtrosPago.id_usuario" class="input-grande"/>
    </div>

    <div class="campo-dato">
      <label for="id_curso">ID Curso</label>
      <input id="id_curso" type="number" [(ngModel)]="filtrosPago.id_curso" class="input-grande"/>
    </div>

    <div class="campo">
      <label for="fecha_pago">Fecha Pago</label>
      <input id="fecha_pago" type="date" [(ngModel)]="filtrosPago.fecha_pago" />
    </div>

    <div class="boton-container">
      <button (click)="buscarPagos()" class="boton">Buscar</button>
    </div>
  </div>
  <div class="tabla-container" *ngIf="pagos.length > 0">
  <table *ngIf="pagos.length > 0" border="1" class="tabla-pagos">
    <thead>
      <tr>
        <th>ID Pago</th>
        <th>ID Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>ID Curso</th>
        <th>Nombre Curso</th>
        <th>Monto</th>
        <th>Fecha Pago</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pago of pagos">
        <td>{{ pago.id_pago }}</td>
        <td>{{ pago.id_usuario }}</td>
        <td>{{ pago.nombre }}</td>
        <td>{{ pago.apellido }}</td>
        <td>{{ pago.dni }}</td>
        <td>{{ pago.id_curso }}</td>
        <td>{{ pago.nombre_curso }}</td>
        <td>{{ pago.monto }}</td>
        <td>{{ pago.fecha_pago }}</td>
      </tr>
    </tbody>
  </table>
  </div>
    <app-pagos-admin></app-pagos-admin>

</div>
<!-- ***************************Fin seccion listar Pagos -->

