
<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <h2>REGISTRO</h2>
  <input type="text" placeholder="Nombre" formControlName="nombre" required>
  <div *ngIf="registroForm.controls['nombre'].hasError('required') && registroForm.controls['nombre'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>

 
  <input type="text" placeholder="Apellido" formControlName="apellido" required>
  <div *ngIf="registroForm.controls['apellido'].hasError('required') && registroForm.controls['apellido'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>

  
  <input type="date" formControlName="fechaNacimiento" required>
  <div *ngIf="registroForm.controls['fechaNacimiento'].hasError('required') && registroForm.controls['fechaNacimiento'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>
  <div *ngIf="registroForm.controls['fechaNacimiento'].hasError('menorDeEdad')">
    <p style="color: red;">Debes ser mayor de 18 años para registrarte.</p>
  </div>

  
  <input type="text" placeholder="Direccion" formControlName="direccion" required>
  <div *ngIf="registroForm.controls['direccion'].hasError('required') && registroForm.controls['direccion'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>

 <input type="text" placeholder="Telefono sin 0 o 15 al inicio" formControlName="telefono" required>
  <div *ngIf="registroForm.controls['telefono'].hasError('required') && registroForm.controls['telefono'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>
 
  <input type="email" placeholder="Correo electrónico" formControlName="email" required>
  <div *ngIf="registroForm.controls['email'].hasError('required') && registroForm.controls['email'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>
  <div *ngIf="registroForm.controls['email'].hasError('email') && registroForm.controls['email'].touched">
    <p style="color: red;">El correo electrónico no es válido.</p>
  </div>

  
  <input type="password" placeholder="Contraseña" formControlName="password" required   autocomplete="off">
  <div *ngIf="registroForm.controls['password'].hasError('required') && registroForm.controls['password'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>
  <div *ngIf="registroForm.controls['password'].hasError('minlength') && registroForm.controls['password'].touched">
    <p style="color: red;">La contraseña debe tener al menos 6 caracteres.</p>
  </div>

 <input type="text" placeholder="Dni" formControlName="dni" required>
  <div *ngIf="registroForm.controls['dni'].hasError('required') && registroForm.controls['dni'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>

  <select formControlName="tipo_usuario" required>
    <option value="" disabled selected>Tipo Usuario</option>
    <option value="alumno">Alumno</option>
    <option value="docente">Docente</option>
  </select>
  
  <div *ngIf="registroForm.controls['tipo_usuario'].hasError('required') && registroForm.controls['tipo_usuario'].touched">
    <p style="color: red;">Este campo es obligatorio.</p>
  </div>

  <input type="text" placeholder="Especialidad" formControlName="especialidad" required>   
  <div *ngIf="registroForm.controls['especialidad'].hasError('required') && registroForm.controls['especialidad'].touched">
    <p style="color: red;">Este campo es obligatorio si eres docente.</p>
  </div>
 
    <label>Ingrese Foto de perfil:</label>
    <br>
    <br>
   <input type="file" (change)="onFileSelected($event)" accept="image/*" />

  <button type="submit" [disabled]="!registroForm.valid">Registrarse</button>

  <p>¿Ya tienes una cuenta? <a (click)="irAlAcceso()">Iniciar sesión aquí</a></p>

</form>

<div *ngIf="registroExitoso" class="registro-exitoso">
  <p>¡REGISTRADO EXITOSAMENTE!</p>
</div>

<br>

