
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  
  
  form {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px 30px;
    background-color: #ffffff;  
    border-radius: 10px;  
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  
  input[type="email"], input[type="password"], input[type="text"], input[type="date"] {
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-sizing: border-box;  
    font-size: 16px; 
  }

  select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
 
  button {
    width: 100%; 
    padding: 12px; 
    background-color: #002147;
    color: white; 
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 20px;
  }
  
  
  button:hover {
    background-color: #f5680e; 
  }
  
  
  a {
    display: inline-block;
    margin-top: 10px; 
    color: #007bff; 
    text-decoration: none; 
    font-size: 14px; 
  }
  
  
  a:hover {
    text-decoration: underline; 
  }

  .registro-exitoso {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


  @media (max-width: 768px) {
    .curso-lista {
      flex-direction: column;
      align-items: center;
    }

    .registro-exitoso {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    font-size: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

}
  