body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f4f7fa; 
    color: #333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1; 
  }

  .descripcion {
    color: rgb(206, 134, 0);
  }

.pago-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.form-row {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.form-row label {
  width: 400px; 
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.form-row input {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  min-width: 300px;
}

.form-row select {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  min-width: 325px;
}


img {
  max-width: 400px;
  align-content: center;
  border-radius: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.mensaje {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.mensaje.exito {
  background-color: #d4edda;
  color: #155724;
}

.mensaje.error {
  background-color: #f8d7da;
  color: #721c24;
}

.card-element {
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #002147;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #218838;
}


@media (max-width: 768px) {
   
}