
<!-- Destacado -->
  <section id="inicio" class="hero">
    <div class="hero-text"> 
      <h1>BIENVENIDO/A</h1>
      <p>Te invitamos a comenzar hoy a transformar tu futuro</p>
      <br>
    
      <button (click)="irAlAcceso()">INICIAR SESIÓN</button>

    </div>
  </section>
  
  <!-- Cursos -->
  <section id="cursos" class="cursos fade-in"> 
    <h2>CURSOS DISPONIBLES</h2>
    <br>
    <div class="curso-lista">
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'carpinteria'">Curso de Carpintería</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'diseno'">Curso de Diseño</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'informatica'">Curso de Informática</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'mecanica'">Curso de Mecánica</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'oratoria'">Curso de Oratoria</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'pintura'">Curso de Pintura</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'administracion'">Curso de Administración</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'caligrafia'">Curso de Caligrafía</button>
      <button class="curso" [routerLink]="['/cursoDinamico']" [fragment]="'manicuria'">Curso de Manicuría</button>
    </div>
  </section>

  <section class="logo-slider">
    <h2>EMPRESAS ASOCIADAS</h2>
    <br>
    <div class="logo-track">
      <div class="logo-slide"><img src="assets/img/empresa1.png" alt="Empresa 1"></div>
      <div class="logo-slide"><img src="assets/img/empresa2.png" alt="Empresa 2"></div>
      <div class="logo-slide"><img src="assets/img/empresa3.png" alt="Empresa 3"></div>
      <div class="logo-slide"><img src="assets/img/empresa4.png" alt="Empresa 4"></div>
      <div class="logo-slide"><img src="assets/img/empresa5.png" alt="Empresa 5"></div>
      <div class="logo-slide"><img src="assets/img/empresa6.png" alt="Empresa 6"></div>
      <!-- Se repite para que tenga un efecto infinito -->
      <div class="logo-slide"><img src="assets/img/empresa1.png" alt="Empresa 1"></div>
      <div class="logo-slide"><img src="assets/img/empresa2.png" alt="Empresa 2"></div>
      <div class="logo-slide"><img src="assets/img/empresa3.png" alt="Empresa 3"></div>
      <div class="logo-slide"><img src="assets/img/empresa4.png" alt="Empresa 4"></div>
      <div class="logo-slide"><img src="assets/img/empresa5.png" alt="Empresa 5"></div>
      <div class="logo-slide"><img src="assets/img/empresa6.png" alt="Empresa 6"></div>
    </div>
  </section>
  
  <!-- Testimonios -->
  <section id="testimonios" class="testimonios fade-in">
    <div class="testimonios">
    <h2>NUESTROS ESTUDIANTES DICEN...</h2>
    <br>
    <div class="testimonio-oración">
      <p>"Me encantó la experiencia. Aprendí muchísimo." - Analía</p>
    </div>
    <div class="testimonio-oración">
      <p>"Los cursos son súper prácticos y profesionales." - Marcos</p>
    </div>
    <div class="testimonio-oración">
      <p>"Lo recomiendo. Los profesores son los mejores." - Susana</p>
    </div>
  </div>
  </section>

   <!-- Profesores -->
<section id="profesores" class="profesores"> 
  <h2>PROFESORES</h2>
<br>
<div class="profesores-lista">
  <div class="profesor">
    <img src="/assets/img/profesor1.png" alt="Profesor 1">
    <p>María López</p>
  </div>
  <div class="profesor">
    <img src="/assets/img/profesor2.png" alt="Profesor 2">
    <p>Juan Pérez</p>
  </div>
  <div class="profesor">
    <img src="/assets/img/profesor3.png" alt="Profesor 3">
    <p>Lucía Fernández</p>
  </div>
</div>
</section>

  