
<div class="container p-4">
    <br>
  <h2 class="text-2xl font-bold mb-4">Graficos de Pagos Recibidos</h2>
  <div *ngIf="loading" class="text-center text-gray-500 mb-4">Cargando datos...</div>
  
  <div *ngIf="!loading && pagosFiltrados.length > 0" class="mb-4 text-xl font-semibold text-green-700">
    Total recaudado: ${{ totalRecaudado }}
  </div>
  <div *ngIf="!loading && pagosFiltrados.length === 0" class="mb-4 text-lg text-red-600">
    No se encontraron pagos registrados con los filtros aplicados.
  </div>
  <!-- Filtros -->
  <div class="mb-6 flex flex-wrap gap-4 items-center">
     <label>Ingresar id de Curso para Visualizar pagos </label>
    <select [(ngModel)]="cursoSeleccionado" (change)="filtrarPagos()" class="border p-2 rounded">
      <option value="">Todos los cursos</option>
      <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
    </select>
    <label>Ingresar id de Usuario para Visualizar pagos </label>
    <input [(ngModel)]="usuarioFiltro" placeholder="Buscar por id de usuario" (input)="filtrarPagos()" class="border p-2 rounded" />
  </div>

  <div class="graficos-flex-container mb-8">
    <div class="grafico-item">
      <canvas baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="'bar'"
        width="400"
        height="300">
      </canvas>
    </div>

    <div class="grafico-item">
      <canvas baseChart
        [data]="chartMensualData"
        [options]="chartMensualOptions"
        [type]="'line'"
        width="400"
        height="300">>
      </canvas>
    </div>
  </div>
  <!-- Tabla de pagos -->
  <div *ngIf="!loading && pagosFiltrados.length > 0" class="overflow-x-auto">
    <table class="table-auto w-full border-collapse border border-gray-400 mt-4">
      <thead class="bg-gray-100">
        <tr>
          <th class="border p-2">ID Usuario</th>
          <th class="border p-2">ID Curso</th>
          <th class="border p-2">Monto</th>
          <th class="border p-2">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of pagosFiltrados">
          <td class="border p-2">{{ pago.id_usuario }}</td>
          <td class="border p-2">{{ pago.id_curso }}</td>
          <td class="border p-2">{{ pago.monto }}</td>
          <td class="border p-2">{{ pago.fecha_pago | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
