<header class="navbar">
  <a href="/"><div class="logo"></div></a>

  <input type="checkbox" id="menu-toggle">
  
  <label for="menu-toggle" class="menu-icon">&#9776;</label>

  <nav class="nav-links">
    <a href="#inicio">INICIO</a>
    <a [routerLink]="['/cursoDinamico']">CURSOS</a>
    <a href="#profesores">PROFESORES</a>
    <a [routerLink]="['/publicaciones']">NOVEDADES</a>
    <a href="#contacto">CONTACTO</a>

   <!-- Mostrar solo si NO está logueado -->
    <!-- <a [routerLink]="['/registro']">REGISTRARSE</a> -->
    <a [routerLink]="['/registro']" *ngIf="!estaLogueado">REGISTRARSE</a>

    <!-- Mostrar solo si está logueado -->
    <!-- <a [routerLink]="['/perfil']">PERFIL</a> -->
    <a [routerLink]="['/perfil']" *ngIf="estaLogueado">PERFIL</a>
    <a href="#" (click)="cerrarSesion()" *ngIf="estaLogueado">CERRAR SESIÓN</a>    
  </nav> 
</header>
