
body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f4f7fa; 
    color: #333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1; 
  }

  .descripcion {
    color: rgb(206, 134, 0);
  }


.curso-carpinteria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  
  .curso-carpinteria-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  
  .curso-carpinteria-imagen {
    flex: 1;
    padding-right: 20px;
  }
  
  .curso-carpinteria-imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .curso-carpinteria-info {
    flex: 2;
    padding-left: 20px;
  }
  
  .curso-carpinteria-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .curso-carpinteria-info p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .curso-carpinteria-info ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .curso-carpinteria-info ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .curso-carpinteria-info button {
    background-color: #002147;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .curso-carpinteria-info button:hover {
    background-color: #f5680e;
  }


  .main-content {
  margin-bottom: 80px; /* espacio para el footer fijo */
  }
  
 
@media (max-width: 768px) {

   
}
       