
<form [formGroup]="accesoForm" (ngSubmit)="onSubmit()">

  <h2>ACCESO</h2>
  <input type="email" formControlName="email" placeholder="Correo electrónico" required  autocomplete="off">
  <div *ngIf="accesoForm.get('email')?.touched && accesoForm.get('email')?.invalid" class="error-mensaje">
    <small *ngIf="accesoForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
    <small *ngIf="accesoForm.get('email')?.errors?.['email']">Correo no válido.</small>
  </div>

  <input type="password" formControlName="password" placeholder="Contraseña" required   autocomplete="off">
  <div *ngIf="accesoForm.get('password')?.touched && accesoForm.get('password')?.invalid" class="error-mensaje">
    <small *ngIf="accesoForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
  </div>

  <button type="submit" [disabled]="accesoForm.invalid">Iniciar Sesión</button>

  <p>¿No tienes una cuenta? <a (click)="irAlRegistro()">Crear cuenta ahora</a></p>

  <button type="button" class="btn-github" (click)="accederConGitHub()">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" class="github-icon">
    Acceder con GitHub
  </button>

</form>

<div *ngIf="inicioExitoso" class="inicio-exitoso">
  <p>¡INICIO DE SESIÓN EXITOSO!</p>
</div>

<div *ngIf="inicioError" class="inicio-error">
  <p>{{ inicioError }}</p>
</div>

<br>


