
/* Contenedor general */
div {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Botones de filtro */
  button {
    background-color: #002147;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  button:hover {
    background-color: #f5680e;
  }
  
  /* Tabla simulada estilo planilla */
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
  }
  
  li:nth-child(even) {
    background-color: #f4f7fa;
  }
  
  /* Encabezado simulado */
  li:first-child {
    font-weight: bold;
    background-color: #002147;
    color: white;
  }

  @media (max-width: 768px) {
  
    
}
  