
<p>lista-alumnos works!</p>
<div>
    <button (click)="filtrarPorCurso(1)">Pintura</button>
    <button (click)="filtrarPorCurso(2)">Oratoria></button>
    <button (click)="filtrarPorCurso(3)">Pintura</button>
    <button (click)="filtrarPorCurso(4)">Mecanica</button>
    <button (click)="filtrarPorCurso(5)">Caligrafia </button>
    <button (click)="filtrarPorCurso(6)">Administracion </button>
    <button (click)="filtrarPorCurso(7)">Carpinteria</button>
    <button (click)="filtrarPorCurso(8)">Informatica</button>

  </div>
  
  <div *ngIf="inscripcionesFiltradas.length > 0; else noData">
    <ul>
      <li *ngFor="let ins of inscripcionesFiltradas">
        Usuario: {{ ins.id_usuario }} - Curso: {{ ins.id_curso }} - Fecha: {{ ins.fecha_inscripcion }}
      </li>
    </ul>
  </div>
  
  <ng-template #noData>
    <p>No hay inscripciones para este curso.</p>
  </ng-template>
