  <br>
  <!-- Pie de página / Footer -->
  <footer id="contacto" class="footer">
    <div class="contacto">
      <p>Dirección: Cruz del Eje - Mitre 757 | Teléfono: 351487678</p>

      <div class="social-icons">
        <a href="https://accounts.google.com/signin" target="_blank" class="social-icon">
          <i class="fab fa-google"></i> <!-- Icono de Gmail -->
        </a>
        <a href="https://www.facebook.com/login" target="_blank" class="social-icon">
          <i class="fab fa-facebook"></i> <!-- Icono de Facebook -->
        </a>
        <a href="https://www.instagram.com/accounts/login/" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i> <!-- Icono de Instagram -->
        </a>
      </div>
      <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
    </div>
    </div>
  </footer>